# Pandas Exercise: Deleting (Wine)

### Step 1. Import the necessary libraries

In [30]:
import pandas as pd
import numpy as np

### Step 2. Import the wine dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [31]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header = None)

### Step 3. Assign it to a variable called wine

In [32]:
wine = df

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [33]:
wine = wine.iloc[:,[1,2,4,5,7,9,11]]

### Step 5. Assign the columns as below:

The attributes are:  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [34]:
wine = wine.rename(columns= {1:'alcohol', 2:'malic_acid', 4:'alcalinity_of_ash', 5:'magnesium',7:'flavanoids',9:'proanthocyanins',11:'hue'})

In [6]:
wine.head(7)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
5,14.20,1.76,15.2,112,3.39,1.97,1.05
6,14.39,1.87,14.6,96,2.52,1.98,1.02

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [35]:
wine.alcohol[0:3] = 'NaN'

C:\Users\Acer\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [36]:
wine.magnesium[3:5] = 'NaN'

C:\Users\Acer\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [37]:
wine.alcohol.fillna(10, inplace = True)

wine.magnesium.fillna(100, inplace = True)

In [9]:
wine.alcohol[wine.alcohol=='NaN'] = 10
wine.magnesium[wine.magnesium =='NaN'] = 100

C:\Users\Acer\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Acer\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Step 9. Count the number of missing values

In [38]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [10]:
print sum(wine['alcohol'].isnull())
print sum(wine['malic_acid'].isnull())
print sum(wine['alcalinity_of_ash'].isnull())
print sum(wine['magnesium'].isnull())
print sum(wine['flavanoids'].isnull())
print sum(wine['proanthocyanins'].isnull())
print sum(wine['hue'].isnull())

0
0
0
0
0
0
0

### Step 10.  Create an array of 10 random numbers up until 10

In [39]:
random = np.random.randint(0,10,size=10)

In [15]:
random

array([5, 5, 5, 2, 3, 2, 0, 8, 4, 3])

In [17]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127,3.06,2.29,1.04
1,10,1.78,11.2,100,2.76,1.28,1.05
2,10,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,100,3.49,2.18,0.86
4,13.24,2.59,21.0,100,2.69,1.82,1.04

### Step 11.  Set the rows of the random numbers in the column

In [40]:
wine.alcohol[random]= np.nan

C:\Users\Acer\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,NaN,2.59,21.0,NaN,2.69,1.82,1.04

### Step 12.  How many missing values do we have?

In [42]:
wine.isnull().sum()

alcohol              8
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [12]:
def var_summary(x):
    return pd.Series([x.count(), x.isnull().sum(), x.sum(), x.mean(), x.median(),  x.std(), x.var(), x.min(), x.quantile(0.01), x.quantile(0.05),x.quantile(0.10),x.quantile(0.25),x.quantile(0.50),x.quantile(0.75), x.quantile(0.90),x.quantile(0.95), x.quantile(0.99),x.max()], 
                  index=['N', 'NMISS', 'SUM', 'MEAN','MEDIAN', 'STD', 'VAR', 'MIN', 'P1' , 'P5' ,'P10' ,'P25' ,'P50' ,'P75' ,'P90' ,'P95' ,'P99' ,'MAX'])

In [13]:
wine.apply(lambda x: var_summary(x)).T

,N,NMISS,SUM,MEAN,MEDIAN,STD,VAR,MIN,P1,P5,P10,P25,P50,P75,P90,P95,P99,MAX
alcohol,178.0,0.0,2303.520,12.941124,13.010,0.893980,0.799201,10.00,10.0000,11.6185,11.834,12.3300,13.010,13.6625,14.072,14.2200,14.4728,14.83
malic_acid,178.0,0.0,415.870,2.336348,1.865,1.117146,1.248015,0.74,0.8977,1.0610,1.247,1.6025,1.865,3.0825,3.983,4.4555,5.5422,5.80
alcalinity_of_ash,178.0,0.0,3470.100,19.494944,19.500,3.339564,11.152686,10.60,11.3540,14.7700,16.000,17.2000,19.500,21.5000,24.000,25.0000,28.5000,30.00
magnesium,178.0,0.0,17723.000,99.567416,98.000,14.180374,201.083000,70.00,78.0000,80.8500,85.000,88.0000,98.000,107.0000,118.000,124.3000,141.7600,162.00
flavanoids,178.0,0.0,361.210,2.029270,2.135,0.998859,0.997719,0.34,0.4700,0.5455,0.607,1.2050,2.135,2.8750,3.233,3.4975,3.7914,5.08
proanthocyanins,178.0,0.0,283.180,1.590899,1.555,0.572359,0.327595,0.41,0.4200,0.7300,0.854,1.2500,1.555,1.9500,2.305,2.7090,3.0336,3.58
hue,178.0,0.0,170.426,0.957449,0.965,0.228572,0.052245,0.48,0.5477,0.5700,0.610,0.7825,0.965,1.1200,1.233,1.2845,1.4269,1.71

### Step 14. Print only the non-null values in alcohol

In [24]:
wine.alcohol[wine.alcohol.notnull()]

1         10
6      14.39
7      14.06
9      13.86
10      14.1
11     14.12
12     13.75
13     14.75
14     14.38
15     13.63
16      14.3
17     13.83
18     14.19
19     13.64
20     14.06
21     12.93
22     13.71
23     12.85
24      13.5
25     13.05
26     13.39
27      13.3
28     13.87
29     14.02
30     13.73
31     13.58
32     13.68
33     13.76
34     13.51
35     13.48
       ...
148    13.32
149    13.08
150     13.5
151    12.79
152    13.11
153    13.23
154    12.58
155    13.17
156    13.84
157    12.45
158    14.34
159    13.48
160    12.36
161    13.69
162    12.85
163    12.96
164    13.78
165    13.73
166    13.45
167    12.82
168    13.58
169     13.4
170     12.2
171    12.77
172    14.16
173    13.71
174     13.4
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 172, dtype: object

In [14]:
wine['alcohol'].dropna()

0         10
1         10
2         10
3      14.37
4      13.24
5       14.2
6      14.39
7      14.06
8      14.83
9      13.86
10      14.1
11     14.12
12     13.75
13     14.75
14     14.38
15     13.63
16      14.3
17     13.83
18     14.19
19     13.64
20     14.06
21     12.93
22     13.71
23     12.85
24      13.5
25     13.05
26     13.39
27      13.3
28     13.87
29     14.02
       ...
148    13.32
149    13.08
150     13.5
151    12.79
152    13.11
153    13.23
154    12.58
155    13.17
156    13.84
157    12.45
158    14.34
159    13.48
160    12.36
161    13.69
162    12.85
163    12.96
164    13.78
165    13.73
166    13.45
167    12.82
168    13.58
169     13.4
170     12.2
171    12.77
172    14.16
173    13.71
174     13.4
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 178, dtype: object

### Step 13. Delete the rows that contain missing values

In [51]:
wine= wine.dropna(axis=0,how='any')

### Step 15.  Reset the index, so it starts with 0 again

In [54]:
wine = wine.reset_index(drop=True)

In [55]:
wine.head()

,level_0,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,0,NaN,2.36,18.6,101,3.24,2.81,1.03
1,1,1,14.37,1.95,16.8,NaN,3.49,2.18,0.86
2,2,2,14.1,2.16,18.0,105,3.32,2.38,1.25
3,3,3,14.12,1.48,16.8,95,2.43,1.57,1.17
4,4,4,13.75,1.73,16.0,89,2.76,1.81,1.15

### BONUS: Create your own question and answer it.